MONGODB_URI=mongodb+srv://ankurwork:ankur%40mongodb@letsettle.cvlq0la.mongodb.net/test

# Admin Authentication
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminsecret
ADMIN_SECRET_TOKEN=ankur123

GEMINI_API_KEY=AIzaSyDGT_s22a5C9OXXS-_tv1sVhnW3ZZqTLEA